.navbar-brand{
    margin-left: 9em;
}
.container-fluid{
    position: fixed;
    background-color: white;
    top: 0%;
    
}
.collapse{
    margin-left: 21em;
    font-size: 18px;

}
.logo-docplanner{
    width: 268px;
    height: 33px;
}
.main-menu a {
    color: #ababab;
    display: block;
    text-decoration: none;
    padding: 0 0.6em;
    
}
.leadsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}
#headerlogo {
    width: 40px;
    aspect-ratio: auto 40 / 40;
    height: 40px;
}
#headerp {
    color: #00b39b;
    font-size: 2.29rem;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-top: 20px;
}
.twoparagraphs{
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 170px;
    padding-right: 200px;
    width: 100%;
    justify-content: space-between;
}
.leadsection p{  
    margin: 0.6em 0;
    line-height: 1.75;
    font-weight: 400;
    padding: 7px;
}
.forsection{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    font-family: Work Sans, Arial, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}
.box1, .box2,.box3{
    width: 240px;
}
.for1 {
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    height: 385px;
}
.for1 select {
    border: none;
    text-decoration: underline;
    margin-top: 135px;
    font-style: bold;
    background-color: #00ccb1;
    color: #fff;
}
#for3title, #for2title, #for1title {
    color: white;
    font-size: 25px;

}
#for3titl, #for2titl, #for1titl {
    font-size: 18px;
    color: white;


}
.for2{
        background-color: #3d83df;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 2em 2em 0;
        justify-content: space-between;
        height: 385px;
}
.for2 select {
    border: none;
    text-decoration: underline;
    margin-bottom: 70px;
    font-style: bold;
    background-color: #3d83df;
    color: #fff;
}
.for3 {
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 385px;
}
.for3 select {
    border: none;
    text-decoration: underline;
    margin-bottom: 30px;
    font-style: bold;
    color: #fff;
    background-color: #1b2734;
}

.section3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#section3title {
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}
.section3 div {
    width: 60%;
    display: flex;
}
#section3logos {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #d0faf4;
    padding-left: 50px;
    height: 105vh;
    width: 100%;
}
.section4header h2 {
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
    padding-left: 50px;
}
.section4header p {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
    padding-bottom: 50px;
}
.first2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}
.second2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#leader, #patients, #appointments, #doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px; 
    height: 270px;
    margin-bottom: 20px;
}
.sectionfourparts h3 {
    font-size: 1.6em;
    color: #00b39b;
    font-weight: 300;
    letter-spacing: -0.3px;
}
.section4header{
    width: 50%;
    margin-top: 50px;
}
.sectionfourparts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
}
.sectionfourparts p {
    font-size: 0.75em;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}
.section5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;
}
.section5 h3 {
    font-size: 2.1428571429em;
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
}
.section5 p {
    margin: 1.6em 0;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
}

.section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section6 h1 {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
}
.section7 button {
    margin-top: 10px;
    margin-left: 80px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 10px;
}
footer {
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.section6 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5cm;
    justify-content: center;
}
.section6 div {
    border-radius: 3%;
    margin: 7%;
}
.country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
}
.country div:hover {
    box-shadow: 0 -6px 10px 5px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
}
.section6 div {
    border-radius: 3%;
    margin: 0.44%;
}
div .buttons {
    display: flex;
    justify-content: space-between;
}
.section6 button {
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
}
.section7 p {
    font-size: 16px;
    color: #747474;
    font-family: Roboto, Arial, sans-serif;
    padding-top: 10px;
    margin-left: 10px;
}